.projects__pic {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/IMG_20160222_140159274.jpg') center center;
    background-size: cover;
    height: 100vh;
}

.Projects__grid {	
    display: grid;
    width: 100vw;
    height: 90vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.Projects__content {
    border-radius: 4px;
    width: 80vw;
    height: 80vh;
    /* height: 70vh; */
    color: rgba(255, 255, 255, .6);
    grid-row-start: 7;
    grid-column-start: 9;
    margin: auto;
    
    transition: all .6s ease-in-out;
    transform: translate3d(-280px, 50px, 0px);
    opacity: 0;
    font-size: 2.2rem;
    background: url("../images/trans_black_25.png");
    padding: 15px;
    display: flex;
}
.Projects__content.active {
    transform: translate3d(0px, 0, 0);
    opacity: 1;
}
.project__item {
    padding: 5px;
    margin: 20px;
}

#Project-1 {
    height: 25vh;
    width: 25vw;
    background-color: black;
}
#Project-2 {
    height: 25vh;
    width: 25vw;
    background-color: black;
}
#Project-3 {
    height: 25vh;
    width: 25vw;
    background-color: black;
}
#Project-4 {
    height: 25vh;
    width: 25vw;
    background-color: black;
}
#Project-5 {
    height: 25vh;
    width: 25vw;
    background-color: black;
}
#Project-6 {
    height: 25vh;
    width: 25vw;
    background-color: black;
}